.header {
  width: 100%;
  display: flex;
}

.playerContainer {
  position: relative;
  width: 60%;
}

.playerInfosContainer {
  position: relative;
  width: 100%;
  height: 70rem;
}

.playerPhoto {
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.playerInfos {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.playerHeader {
  display: inline-flex;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
  height: 6rem;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #242424;
}

.playerHeader > h1 {
    margin: 0;
    line-height: 24px;
}

.teamLogo {
    margin-left: auto;
}

.playerSummary {
  width: 100%;
  height: 25rem;
  padding: 1rem;
  align-self: end;
  box-sizing: border-box;
  background-color: #242424d5;
  backdrop-filter: blur(0.5rem);
}

.playerCard {
    display: grid;
    align-items: center;
    grid-template-columns: min-content 1fr;
    gap: 1.5rem;
    width: 50%;
    height: 100%;
}

.playerAvatar {
    border-radius: 50%;
    background-color: #242424;
    object-fit: cover;
}

.playerAvatar > img, .playerAvatar > div {
    padding: 0.5rem;
}

.playerDetails {
    width: 100%;
    font-size: 1.6rem;
}

.statsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #242424;
}

@media (max-width: 1920px) {
  .playerContainer {
    width: 80%;
  }
  .playerCard {
    width: 80%;
  }
}

@media (max-width: 1440px) {
  .playerContainer {
    width: 90%;
  }
  .playerCard {
    width: 90%;
  }
}

@media (max-width: 1056px) {
  .playerContainer {
    width: 100%;
  }
  .playerCard {
    width: 100%;
  }
}